.swiper{
    &-wrapper{
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center !important;
    }
    &__button{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        width: 47px;
        height: 47px;
        border: 1px solid #34383D;
        border-radius: 50%;
        cursor: pointer;
        &:hover{
            background-color: #CDA861;
        }
    }
    &-next{
        position: absolute;
        right: -10px;
        top: 50%;
        z-index: 1;
    }
    &-prev{
        position: absolute;
        left: -10px;
        top: 50%;
        z-index: 1;
    }
}