@import 'libs/bootstrap-reboot.min';
@import 'libs/swiper-bundle.min';
@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@500;700&family=Ribeye&family=Roboto:wght@400;500&display=swap');

// @import 'base/variables';
// @import 'base/mixins';

* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
@media(max-width: 1200px){
    .container{
        margin: 0 15px;
    }
}

@import 'blocks/titles';
@import 'blocks/buttons';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/location';
@import 'blocks/blog';
@import 'blocks/footer';
@import 'blocks/offers';
@import 'blocks/swiper';
@import 'blocks/menu';
@import 'blocks/media';
